In [1]:
import pandas as pd
import numpy as np

In [2]:
target = pd.read_csv("MT2017.csv")
league = pd.read_csv("MLB2017.csv")
injury_date = (5.06, 5.28)
recovered_date = (5.10,7.09)
strong_start = (0,)
strong_end = (0,)
min_to_be_Strong = 162
min_to_be_Average = 162

In [3]:
target = target[['Date', 'Tm', 'Opp', 'W/L']]
league = league[['Tm', 'W']]
league =league.rename(columns={'Tm' : 'Opp'})

In [5]:
league.drop(league.tail(1).index,inplace=True) # drop last 1 rows

In [7]:
new_win = []
for i in league.index:
    new_win.append(league['W'][i] - len(target[ (target['Opp' ]== league['Opp'][i]) & (target['W/L'].str.contains("L")) ]))
league['Isolated_W'] = new_win

In [8]:
league = league.sort_values(by = ['Isolated_W'])
league = league.reset_index(drop=True)
league

    Opp    W  Isolated_W
0   CIN   64          61
1   PHI   63          63
2   OAK   68          64
3   MIL   68          66
4   ATL   67          67
5   CHW   76          67
6   COL   68          68
7   MIA   71          71
8   SEA   76          73
9   BOS   78          74
10  CLE   81          74
11  DET   74          74
12  SDP   74          74
13  MIN   83          75
14  BAL   81          77
15  TBR   80          77
16  ARI   79          79
17  LAA   85          79
18  NYY   87          82
19  HOU   86          82
20  TEX   88          83
21  WSN   83          83
22  SFG   84          84
23  KCR   95          85
24  TOR   93          89
25  NYM   90          90
26  LAD   92          92
27  PIT   98          94
28  CHC   97          96
29  STL  100          99

In [10]:
print(league['Isolated_W'][9])
print(league['Isolated_W'][20])

74
83

In [11]:
#helper function to modify the date data for later analysis
def modi_date(date):
    date_dict = {
        'Apr': '4',
        'May': '5',
        'Jun': '6',
        'Jul': '7',
        'Aug': '8',
        'Sep': '9',
        'Oct': '10'
    }
    date_split = date.split(" ")[1:]
    d = date_dict[date_split[0]]
    return float('{}.{:0>2}'.format(date_dict[date_split[0]], date_split[1]))

In [12]:
df = pd.merge(target, league, on = 'Opp')
df['Date'] = df['Date'].apply(modi_date)
df = df.sort_values(by = ['Date'])
df = df.reset_index(drop=True)

In [13]:
def get_winning_games_number(team_name: str):
    return league[league['Opp'] == team_name]['Isolated_W'].values[0]

In [14]:
#helper function to get the classify an opponent's status: weak, average, or strong
def get_oppo_status(team_name: str):
    w_n = get_winning_games_number(team_name)
    if w_n >= min_to_be_Strong:
        return "Strong"
    elif min_to_be_Average <= w_n < min_to_be_Strong:
        return 'Average'
    else:
        return "Weak"

In [15]:
def get_avaliablity(date):
    for inj, rec in zip(injury_date, recovered_date):
        if inj <= date <= rec:
            return False
    return True

In [16]:
def is_Strong(date):
    for start, end in zip(strong_start, strong_end):
        if start <= date < end:
            return True
    return False

In [17]:
frame = pd.DataFrame({
                      'Date': df['Date'], 
                      "Aval": df['Date'].apply(get_avaliablity), 
                      "Strong": df['Date'].apply(is_Strong),
                      "Opp-Status": df['Opp'].apply(get_oppo_status),
                      'Opp': df['Opp'],
                      'W/L': df['W/L'], 
                      'Opp-W': df['Isolated_W']
                      })
frame.to_excel('MC2015_Isolate_target_win.xlsx')

In [18]:
#helper funtion to calculate the number of the games in which the target team and its
#opponent are classifies as a particular status.
def count_category(data, strong=False, opp_status=None):
    strong_series = data['Strong'] if strong else data['Strong'] == False
    c1 = len(data[strong_series & (frame['Opp-Status'].str.match(opp_status))])
    a1 = len(data)
    #print('numerator :    ', c1)
    #print('denumerator : ', a1)
    #print('output: ', c1/a1)
    return c1/a1

In [19]:
def count_win(data, aval=False, strong=False, opp_status=None):
    aval_series = data['Aval'] if aval else data['Aval'] == False
    strong_series = data['Strong'] if strong else data['Strong'] == False
    win = len(data[(data['W/L'].str.contains("W")) & aval_series & strong_series & (frame['Opp-Status'].str.match(opp_status))])
    number_of_all_games =  len(data[aval_series & strong_series & (frame['Opp-Status'].str.match(opp_status))])
    #print('numerator :    ', win)
    #print('denumerator : ', number_of_all_games)
    if number_of_all_games == 0:
        #print('output: ', 0)
        return 0
    else: 
        #print('output: ', win/number_of_all_games)
        return win/number_of_all_games

In [20]:
def get_WAR(data = frame):
    
    #print('P_Aval_Weak_weakOpp :')
    aval_weak_weak = count_win(data, aval = True, strong = False, opp_status="Weak") 
    #print('P_Unaval_Weak_weakOpp :')
    unaval_weal_weak = count_win(data, aval = False, strong = False, opp_status="Weak")
    #print('P X = Weak_weakOpp :')
    weak_weak = count_category(data, strong = False, opp_status="Weak")
    
    #print('P_Aval_Weak_averageOpp :')
    aval_weak_average = count_win(data, aval = True, strong = False, opp_status="Average")
    #print('P_Unaval_Weak_averageOpp :')
    unaval_weak_average = count_win(data, aval = False, strong = False, opp_status="Average")
    #print('P X = Weak_averageOpp :')
    weak_average = count_category(data, strong = False, opp_status="Average")
    
    #print('P_Aval_Weak_strongOpp :')
    aval_weak_strong = count_win(data, aval = True, strong = False, opp_status="Strong")
    #print('P_Unaval_Weak_strongOpp :')
    unaval_weak_strong = count_win(data, aval = False, strong = False, opp_status="Strong")
    #print('P X = Weak_strongOpp :')
    weak_strong = count_category(data, strong = False, opp_status="Strong")
    
    #print('P_Aval_Strong_weakOpp :')
    aval_strong_weak = count_win(data, aval = True, strong = True, opp_status="Weak") 
    #print('P_Unaval_Strong_weakOpp :')
    unaval_strong_weak = count_win(data, aval = False, strong = True, opp_status="Weak")
    #print('P X = Strong_weakOpp :')
    strong_weak = count_category(data, strong = True, opp_status="Weak")
    
    #print('P_Aval_Strong_averageOpp :')
    aval_strong_average = count_win(data, aval = True, strong = True, opp_status="Average")
    #print('P_Unaval_Strong_averageOpp :')
    unaval_strong_average = count_win(data, aval = False, strong = True, opp_status="Average")
    #print('P X = Strong_averageOpp :')
    strong_average = count_category(data, strong = True, opp_status="Average")
    
    #print('P_Aval_Strong_strongOpp :')
    aval_strong_strong = count_win(data, aval = True, strong = True, opp_status="Strong")
    #print('P_Unaval_Strong_strongOpp :')
    unaval_strong_strong = count_win(data, aval = False, strong = True, opp_status="Strong")
    #print('P X = Strong_strongOpp :')
    strong_strong = count_category(data, strong = True, opp_status="Strong")
    
    war = ((aval_weak_weak - unaval_weal_weak)* weak_weak
           + (aval_weak_average - unaval_weak_average)* weak_average
           + (aval_weak_strong - unaval_weak_strong)* weak_strong 
           + (aval_strong_weak - unaval_strong_weak)* strong_weak
           + (aval_strong_average - unaval_strong_average)* strong_average 
           + (aval_strong_strong - unaval_strong_strong)* strong_strong) * 119
    return war

In [21]:
def WAR_change_oppSAW():
    output = []
    new_df = frame
    for i in range(80,95):
        for j in range(70, i):
            
            #helper function to change the data
            def new_opp_status(team_name: str):
                w_n = get_winning_games_number(team_name)
                if w_n >= i:
                    return "Strong"
                elif j <= w_n < i:
                    return 'Average'
                else:
                    return "Weak"
                
            new_df['Opp-Status'] = new_df['Opp'].apply(new_opp_status)
            twar = round(get_WAR(new_df), 4)
            temp = [i, j, twar]
            output.append(temp)
    return output

In [22]:
x = WAR_change_oppSAW()

In [23]:
x

[[80, 70, 15.1543],
 [80, 71, 15.1543],
 [80, 72, 15.1543],
 [80, 73, 15.1543],
 [80, 74, 12.8072],
 [80, 75, 0.4349],
 [80, 76, 3.7936],
 [80, 77, 3.7936],
 [80, 78, 5.865],
 [80, 79, 5.865],
 [81, 70, 15.1543],
 [81, 71, 15.1543],
 [81, 72, 15.1543],
 [81, 73, 15.1543],
 [81, 74, 12.8072],
 [81, 75, 0.4349],
 [81, 76, 3.7936],
 [81, 77, 3.7936],
 [81, 78, 5.865],
 [81, 79, 5.865],
 [81, 80, 3.4355],
 [82, 70, 15.1543],
 [82, 71, 15.1543],
 [82, 72, 15.1543],
 [82, 73, 15.1543],
 [82, 74, 12.8072],
 [82, 75, 0.4349],
 [82, 76, 3.7936],
 [82, 77, 3.7936],
 [82, 78, 5.865],
 [82, 79, 5.865],
 [82, 80, 3.4355],
 [82, 81, 3.4355],
 [83, 70, 13.333],
 [83, 71, 13.333],
 [83, 72, 13.333],
 [83, 73, 13.333],
 [83, 74, 12.0529],
 [83, 75, 3.2489],
 [83, 76, 5.7879],
 [83, 77, 5.7879],
 [83, 78, 11.0869],
 [83, 79, 11.0869],
 [83, 80, 8.6574],
 [83, 81, 8.6574],
 [83, 82, 8.6574],
 [84, 70, 13.7642],
 [84, 71, 13.7642],
 [84, 72, 13.7642],
 [84, 73, 13.7642],
 [84, 74, 12.4841],
 [84, 75, 3.3607],
 [84, 76, 5.9543],
 [84, 77, 5.9543],
 [84, 78, 13.8754],
 [84, 79, 13.8754],
 [84, 80, 11.446],
 [84, 81, 11.446],
 [84, 82, 11.446],
 [84, 83, 5.9204],
 [85, 70, 13.7642],
 [85, 71, 13.7642],
 [85, 72, 13.7642],
 [85, 73, 13.7642],
 [85, 74, 12.4841],
 [85, 75, 3.3607],
 [85, 76, 5.9543],
 [85, 77, 5.9543],
 [85, 78, 13.8754],
 [85, 79, 13.8754],
 [85, 80, 11.446],
 [85, 81, 11.446],
 [85, 82, 11.446],
 [85, 83, 5.9204],
 [85, 84, 3.6208],
 [86, 70, 17.411],
 [86, 71, 17.411],
 [86, 72, 17.411],
 [86, 73, 17.411],
 [86, 74, 16.131],
 [86, 75, 7.941],
 [86, 76, 10.2951],
 [86, 77, 10.2951],
 [86, 78, 8.7404],
 [86, 79, 8.7404],
 [86, 80, 9.0974],
 [86, 81, 9.0974],
 [86, 82, 9.0974],
 [86, 83, 7.6943],
 [86, 84, 8.2545],
 [86, 85, 8.2545],
 [87, 70, 17.411],
 [87, 71, 17.411],
 [87, 72, 17.411],
 [87, 73, 17.411],
 [87, 74, 16.131],
 [87, 75, 7.941],
 [87, 76, 10.2951],
 [87, 77, 10.2951],
 [87, 78, 8.7404],
 [87, 79, 8.7404],
 [87, 80, 9.0974],
 [87, 81, 9.0974],
 [87, 82, 9.0974],
 [87, 83, 7.6943],
 [87, 84, 8.2545],
 [87, 85, 8.2545],
 [87, 86, 6.5399],
 [88, 70, 17.411],
 [88, 71, 17.411],
 [88, 72, 17.411],
 [88, 73, 17.411],
 [88, 74, 16.131],
 [88, 75, 7.941],
 [88, 76, 10.2951],
 [88, 77, 10.2951],
 [88, 78, 8.7404],
 [88, 79, 8.7404],
 [88, 80, 9.0974],
 [88, 81, 9.0974],
 [88, 82, 9.0974],
 [88, 83, 7.6943],
 [88, 84, 8.2545],
 [88, 85, 8.2545],
 [88, 86, 6.5399],
 [88, 87, 6.5399],
 [89, 70, 17.411],
 [89, 71, 17.411],
 [89, 72, 17.411],
 [89, 73, 17.411],
 [89, 74, 16.131],
 [89, 75, 7.941],
 [89, 76, 10.2951],
 [89, 77, 10.2951],
 [89, 78, 8.7404],
 [89, 79, 8.7404],
 [89, 80, 9.0974],
 [89, 81, 9.0974],
 [89, 82, 9.0974],
 [89, 83, 7.6943],
 [89, 84, 8.2545],
 [89, 85, 8.2545],
 [89, 86, 6.5399],
 [89, 87, 6.5399],
 [89, 88, 6.5399],
 [90, 70, 18.8677],
 [90, 71, 18.8677],
 [90, 72, 18.8677],
 [90, 73, 18.8677],
 [90, 74, 17.2007],
 [90, 75, 9.4239],
 [90, 76, 11.2194],
 [90, 77, 11.2194],
 [90, 78, 7.8902],
 [90, 79, 7.8902],
 [90, 80, 8.2068],
 [90, 81, 8.2068],
 [90, 82, 8.2068],
 [90, 83, 8.5716],
 [90, 84, 8.9795],
 [90, 85, 8.9795],
 [90, 86, 8.7573],
 [90, 87, 8.7573],
 [90, 88, 8.7573],
 [90, 89, 8.7573],
 [91, 70, 18.8677],
 [91, 71, 18.8677],
 [91, 72, 18.8677],
 [91, 73, 18.8677],
 [91, 74, 17.2007],
 [91, 75, 9.4239],
 [91, 76, 11.2194],
 [91, 77, 11.2194],
 [91, 78, 7.8902],
 [91, 79, 7.8902],
 [91, 80, 8.2068],
 [91, 81, 8.2068],
 [91, 82, 8.2068],
 [91, 83, 8.5716],
 [91, 84, 8.9795],
 [91, 85, 8.9795],
 [91, 86, 8.7573],
 [91, 87, 8.7573],
 [91, 88, 8.7573],
 [91, 89, 8.7573],
 [91, 90, 7.6026],
 [92, 70, 18.8677],
 [92, 71, 18.8677],
 [92, 72, 18.8677],
 [92, 73, 18.8677],
 [92, 74, 17.2007],
 [92, 75, 9.4239],
 [92, 76, 11.2194],
 [92, 77, 11.2194],
 [92, 78, 7.8902],
 [92, 79, 7.8902],
 [92, 80, 8.2068],
 [92, 81, 8.2068],
 [92, 82, 8.2068],
 [92, 83, 8.5716],
 [92, 84, 8.9795],
 [92, 85, 8.9795],
 [92, 86, 8.7573],
 [92, 87, 8.7573],
 [92, 88, 8.7573],
 [92, 89, 8.7573],
 [92, 90, 7.6026],
 [92, 91, 7.6026],
 [93, 70, 18.8677],
 [93, 71, 18.8677],
 [93, 72, 18.8677],
 [93, 73, 18.8677],
 [93, 74, 17.2007],
 [93, 75, 9.4239],
 [93, 76, 11.2194],
 [93, 77, 11.2194],
 [93, 78, 7.8902],
 [93, 79, 7.8902],
 [93, 80, 8.2068],
 [93, 81, 8.2068],
 [93, 82, 8.2068],
 [93, 83, 8.5716],
 [93, 84, 8.9795],
 [93, 85, 8.9795],
 [93, 86, 8.7573],
 [93, 87, 8.7573],
 [93, 88, 8.7573],
 [93, 89, 8.7573],
 [93, 90, 7.6026],
 [93, 91, 7.6026],
 [93, 92, 7.6026],
 [94, 70, 18.8677],
 [94, 71, 18.8677],
 [94, 72, 18.8677],
 [94, 73, 18.8677],
 [94, 74, 17.2007],
 [94, 75, 9.4239],
 [94, 76, 11.2194],
 [94, 77, 11.2194],
 [94, 78, 7.8902],
 [94, 79, 7.8902],
 [94, 80, 8.2068],
 [94, 81, 8.2068],
 [94, 82, 8.2068],
 [94, 83, 8.5716],
 [94, 84, 8.9795],
 [94, 85, 8.9795],
 [94, 86, 8.7573],
 [94, 87, 8.7573],
 [94, 88, 8.7573],
 [94, 89, 8.7573],
 [94, 90, 7.6026],
 [94, 91, 7.6026],
 [94, 92, 7.6026],
 [94, 93, 7.6026]]

In [24]:
factor1 = []
factor2 = []
result = []
for row in x:
    factor1.append(row[0])
    factor2.append(row[1])
    result.append(row[2])
df2 = pd.DataFrame({
    'min_to_be_Strong': factor1,
    'min_to_be_Average': factor2,
    'war': result
    })
df2 = df2.pivot(index='min_to_be_Average', columns='min_to_be_Strong', values='war')

In [25]:
df2.to_excel('MC2015_Isolate_target_win.xlsx')

In [26]:
df2

min_to_be_Strong,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94
min_to_be_Average,,,,,,,,,,,,,,,
70,15.1543,15.1543,15.1543,13.3330,13.7642,13.7642,17.4110,17.4110,17.4110,17.4110,18.8677,18.8677,18.8677,18.8677,18.8677
71,15.1543,15.1543,15.1543,13.3330,13.7642,13.7642,17.4110,17.4110,17.4110,17.4110,18.8677,18.8677,18.8677,18.8677,18.8677
72,15.1543,15.1543,15.1543,13.3330,13.7642,13.7642,17.4110,17.4110,17.4110,17.4110,18.8677,18.8677,18.8677,18.8677,18.8677
73,15.1543,15.1543,15.1543,13.3330,13.7642,13.7642,17.4110,17.4110,17.4110,17.4110,18.8677,18.8677,18.8677,18.8677,18.8677
74,12.8072,12.8072,12.8072,12.0529,12.4841,12.4841,16.1310,16.1310,16.1310,16.1310,17.2007,17.2007,17.2007,17.2007,17.2007
75,0.4349,0.4349,0.4349,3.2489,3.3607,3.3607,7.9410,7.9410,7.9410,7.9410,9.4239,9.4239,9.4239,9.4239,9.4239
76,3.7936,3.7936,3.7936,5.7879,5.9543,5.9543,10.2951,10.2951,10.2951,10.2951,11.2194,11.2194,11.2194,11.2194,11.2194
77,3.7936,3.7936,3.7936,5.7879,5.9543,5.9543,10.2951,10.2951,10.2951,10.2951,11.2194,11.2194,11.2194,11.2194,11.2194
78,5.8650,5.8650,5.8650,11.0869,13.8754,13.8754,8.7404,8.7404,8.7404,8.7404,7.8902,7.8902,7.8902,7.8902,7.8902
79,5.8650,5.8650,5.8650,11.0869,13.8754,13.8754,8.7404,8.7404,8.7404,8.7404,7.8902,7.8902,7.8902,7.8902,7.8902
80,NaN,3.4355,3.4355,8.6574,11.4460,11.4460,9.0974,9.0974,9.0974,9.0974,8.2068,8.2068,8.2068,8.2068,8.2068
81,NaN,NaN,3.4355,8.6574,11.4460,11.4460,9.0974,9.0974,9.0974,9.0974,8.2068,8.2068,8.2068,8.2068,8.2068
82,NaN,NaN,NaN,8.6574,11.4460,11.4460,9.0974,9.0974,9.0974,9.0974,8.2068,8.2068,8.2068,8.2068,8.2068
83,NaN,NaN,NaN,NaN,5.9204,5.9204,7.6943,7.6943,7.6943,7.6943,8.5716,8.5716,8.5716,8.5716,8.5716
84,NaN,NaN,NaN,NaN,NaN,3.6208,8.2545,8.2545,8.2545,8.2545,8.9795,8.9795,8.9795,8.9795,8.9795
85,NaN,NaN,NaN,NaN,NaN,NaN,8.2545,8.2545,8.2545,8.2545,8.9795,8.9795,8.9795,8.9795,8.9795
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.5399,6.5399,6.5399,8.7573,8.7573,8.7573,8.7573,8.7573
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.5399,6.5399,8.7573,8.7573,8.7573,8.7573,8.7573
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.5399,8.7573,8.7573,8.7573,8.7573,8.7573
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.7573,8.7573,8.7573,8.7573,8.7573
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.6026,7.6026,7.6026,7.6026
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.6026,7.6026,7.6026
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.6026,7.6026
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.6026