In [1]:
import pandas as pd
import numpy as np

In [2]:
target = pd.read_csv("MC2015.csv")
league = pd.read_csv("MLB2015.csv")
injury_date = (7.04,)
recovered_date = (8.12,)
strong_start = (6.17,)
strong_end = (7.30,)
min_to_be_Strong = 162
min_to_be_Average = 162

In [3]:
target = target[['Date', 'Tm', 'Opp', 'W/L']]
league = league[['Tm', 'W']]
league =league.rename(columns={'Tm' : 'Opp'})
df = pd.merge(target, league, on = 'Opp')

In [4]:
#helper function to modify the date data for later analysis
def modi_date(date):
    date_dict = {
        'Apr': '4',
        'May': '5',
        'Jun': '6',
        'Jul': '7',
        'Aug': '8',
        'Sep': '9',
        'Oct': '10'
    }
    date_split = date.split(" ")[1:]
    d = date_dict[date_split[0]]
    return float('{}.{:0>2}'.format(date_dict[date_split[0]], date_split[1]))

In [5]:
df['Date'] = df['Date'].apply(modi_date)
df = df.sort_values(by = ['Date'])

In [6]:
league

      Opp    W
0     ARI   79
1     ATL   67
2     BAL   81
3     BOS   78
4     CHC   97
5     CHW   76
6     CIN   64
7     CLE   81
8     COL   68
9     DET   74
10    HOU   86
11    KCR   95
12    LAA   85
13    LAD   92
14    MIA   71
15    MIL   68
16    MIN   83
17    NYM   90
18    NYY   87
19    OAK   68
20    PHI   63
21    PIT   98
22    SDP   74
23    SEA   76
24    SFG   84
25    STL  100
26    TBR   80
27    TEX   88
28    TOR   93
29    WSN   83
30  LgAvg   81

In [7]:
target

                  Date   Tm  Opp   W/L
0         Monday Apr 6  DET  MIN     W
1      Wednesday Apr 8  DET  MIN     W
2       Thursday Apr 9  DET  MIN     W
3        Friday Apr 10  DET  CLE     W
4      Saturday Apr 11  DET  CLE     W
5        Sunday Apr 12  DET  CLE     W
6        Monday Apr 13  DET  PIT     L
7       Tuesday Apr 14  DET  PIT     W
8     Wednesday Apr 15  DET  PIT     W
9        Friday Apr 17  DET  CHW  W-wo
10     Saturday Apr 18  DET  CHW     L
11       Sunday Apr 19  DET  CHW     W
12       Monday Apr 20  DET  NYY     W
13      Tuesday Apr 21  DET  NYY     L
14    Wednesday Apr 22  DET  NYY     L
15     Thursday Apr 23  DET  NYY     L
16       Friday Apr 24  DET  CLE     L
17     Saturday Apr 25  DET  CLE     W
18       Sunday Apr 26  DET  CLE     W
19       Monday Apr 27  DET  MIN     W
20      Tuesday Apr 28  DET  MIN     L
21    Wednesday Apr 29  DET  MIN     W
22     Thursday Apr 30  DET  KCR     L
23        Friday May 1  DET  KCR     L
24      Saturday May 2  DET  KCR     W
25        Sunday May 3  DET  KCR     W
26       Tuesday May 5  DET  CHW     L
27     Wednesday May 6  DET  CHW     L
28      Thursday May 7  DET  CHW     W
29        Friday May 8  DET  KCR  W-wo
..                 ...  ...  ...   ...
131    Wednesday Sep 2  DET  KCR     L
132     Thursday Sep 3  DET  KCR     L
133       Friday Sep 4  DET  CLE     L
134     Saturday Sep 5  DET  CLE     W
135       Sunday Sep 6  DET  CLE     L
136       Monday Sep 7  DET  TBR     W
137      Tuesday Sep 8  DET  TBR  W-wo
138    Wednesday Sep 9  DET  TBR     L
139    Thursday Sep 10  DET  CLE     L
140  Sunday Sep 13 (1)  DET  CLE     L
141  Sunday Sep 13 (2)  DET  CLE     W
142      Monday Sep 14  DET  MIN     L
143     Tuesday Sep 15  DET  MIN     W
144   Wednesday Sep 16  DET  MIN     W
145      Friday Sep 18  DET  KCR  W-wo
146    Saturday Sep 19  DET  KCR  W-wo
147      Sunday Sep 20  DET  KCR     L
148  Monday Sep 21 (1)  DET  CHW     L
149  Monday Sep 21 (2)  DET  CHW     L
150     Tuesday Sep 22  DET  CHW  W-wo
151   Wednesday Sep 23  DET  CHW     W
152      Friday Sep 25  DET  MIN     W
153    Saturday Sep 26  DET  MIN     L
154      Sunday Sep 27  DET  MIN     L
155      Monday Sep 28  DET  TEX     W
156     Tuesday Sep 29  DET  TEX     L
157   Wednesday Sep 30  DET  TEX     L
158       Friday Oct 2  DET  CHW     L
159     Saturday Oct 3  DET  CHW  L-wo
160       Sunday Oct 4  DET  CHW     W

[161 rows x 4 columns]

In [6]:
def get_winning_games_number(team_name: str):
    return league[league['Opp'] == team_name]['W'].values[0]

In [7]:
#helper function to get the classify an opponent's status: weak, average, or strong
def get_oppo_status(team_name: str):
    w_n = get_winning_games_number(team_name)
    if w_n >= min_to_be_Strong:
        return "Strong"
    elif min_to_be_Average <= w_n < min_to_be_Strong:
        return 'Average'
    else:
        return "Weak"

In [8]:
def get_avaliablity(date):
    for inj, rec in zip(injury_date, recovered_date):
        if inj <= date <= rec:
            return False
    return True

In [9]:
def is_Strong(date):
    for start, end in zip(strong_start, strong_end):
        if start <= date < end:
            return True
    return False

In [10]:
frame = pd.DataFrame({
                      'Date': df['Date'], 
                      "Aval": df['Date'].apply(get_avaliablity), 
                      "Strong": df['Date'].apply(is_Strong),
                      "Opp-Status": df['Opp'].apply(get_oppo_status),
                      'Opp': df['Opp'],
                      'W/L': df['W/L'], 
                      'Opp-W': df['W']
                      })

In [11]:
#helper funtion to calculate the number of the games in which the target team and its
#opponent are classifies as a particular status.
def count_category(data, strong=False, opp_status=None):
    strong_series = data['Strong'] if strong else data['Strong'] == False
    c1 = len(data[strong_series & (frame['Opp-Status'].str.match(opp_status))])
    a1 = len(data)
    #print('numerator :    ', c1)
    #print('denumerator : ', a1)
    #print('output: ', c1/a1)
    return c1/a1

In [12]:
def count_win(data, aval=False, strong=False, opp_status=None):
    aval_series = data['Aval'] if aval else data['Aval'] == False
    strong_series = data['Strong'] if strong else data['Strong'] == False
    win = len(data[(data['W/L'].str.contains("W")) & aval_series & strong_series & (frame['Opp-Status'].str.match(opp_status))])
    number_of_all_games =  len(data[aval_series & strong_series & (frame['Opp-Status'].str.match(opp_status))])
    #print('numerator :    ', win)
    #print('denumerator : ', number_of_all_games)
    if number_of_all_games == 0:
        #print('output: ', 0)
        return 0
    else: 
        #print('output: ', win/number_of_all_games)
        return win/number_of_all_games

In [13]:
def get_WAR(data = frame):
    
    #print('P_Aval_Weak_weakOpp :')
    aval_weak_weak = count_win(data, aval = True, strong = False, opp_status="Weak") 
    #print('P_Unaval_Weak_weakOpp :')
    unaval_weal_weak = count_win(data, aval = False, strong = False, opp_status="Weak")
    #print('P X = Weak_weakOpp :')
    weak_weak = count_category(data, strong = False, opp_status="Weak")
    
    #print('P_Aval_Weak_averageOpp :')
    aval_weak_average = count_win(data, aval = True, strong = False, opp_status="Average")
    #print('P_Unaval_Weak_averageOpp :')
    unaval_weak_average = count_win(data, aval = False, strong = False, opp_status="Average")
    #print('P X = Weak_averageOpp :')
    weak_average = count_category(data, strong = False, opp_status="Average")
    
    #print('P_Aval_Weak_strongOpp :')
    aval_weak_strong = count_win(data, aval = True, strong = False, opp_status="Strong")
    #print('P_Unaval_Weak_strongOpp :')
    unaval_weak_strong = count_win(data, aval = False, strong = False, opp_status="Strong")
    #print('P X = Weak_strongOpp :')
    weak_strong = count_category(data, strong = False, opp_status="Strong")
    
    #print('P_Aval_Strong_weakOpp :')
    aval_strong_weak = count_win(data, aval = True, strong = True, opp_status="Weak") 
    #print('P_Unaval_Strong_weakOpp :')
    unaval_strong_weak = count_win(data, aval = False, strong = True, opp_status="Weak")
    #print('P X = Strong_weakOpp :')
    strong_weak = count_category(data, strong = True, opp_status="Weak")
    
    #print('P_Aval_Strong_averageOpp :')
    aval_strong_average = count_win(data, aval = True, strong = True, opp_status="Average")
    #print('P_Unaval_Strong_averageOpp :')
    unaval_strong_average = count_win(data, aval = False, strong = True, opp_status="Average")
    #print('P X = Strong_averageOpp :')
    strong_average = count_category(data, strong = True, opp_status="Average")
    
    #print('P_Aval_Strong_strongOpp :')
    aval_strong_strong = count_win(data, aval = True, strong = True, opp_status="Strong")
    #print('P_Unaval_Strong_strongOpp :')
    unaval_strong_strong = count_win(data, aval = False, strong = True, opp_status="Strong")
    #print('P X = Strong_strongOpp :')
    strong_strong = count_category(data, strong = True, opp_status="Strong")
    
    war = ((aval_weak_weak - unaval_weal_weak)* weak_weak
           + (aval_weak_average - unaval_weak_average)* weak_average
           + (aval_weak_strong - unaval_weak_strong)* weak_strong 
           + (aval_strong_weak - unaval_strong_weak)* strong_weak
           + (aval_strong_average - unaval_strong_average)* strong_average 
           + (aval_strong_strong - unaval_strong_strong)* strong_strong) * 119
    return war

In [14]:
def WAR_change_oppSAW():
    output = []
    new_df = frame
    for i in range(80,95):
        for j in range(70, i):
            
            #helper function to change the data
            def new_opp_status(team_name: str):
                w_n = get_winning_games_number(team_name)
                if w_n >= i:
                    return "Strong"
                elif j <= w_n < i:
                    return 'Average'
                else:
                    return "Weak"
                
            new_df['Opp-Status'] = new_df['Opp'].apply(new_opp_status)
            twar = round(get_WAR(new_df), 4)
            temp = [i, j, twar]
            output.append(temp)
    return output

In [15]:
x = WAR_change_oppSAW()

In [16]:
x

[[80, 70, 7.1555],
 [80, 71, 7.1555],
 [80, 72, 7.1555],
 [80, 73, 7.1555],
 [80, 74, 7.1555],
 [80, 75, 7.1555],
 [80, 76, 7.1555],
 [80, 77, 7.0675],
 [80, 78, 7.0675],
 [80, 79, 2.4391],
 [81, 70, 8.2111],
 [81, 71, 8.2111],
 [81, 72, 8.2111],
 [81, 73, 8.2111],
 [81, 74, 8.2111],
 [81, 75, 8.2111],
 [81, 76, 8.2111],
 [81, 77, 7.9795],
 [81, 78, 7.9795],
 [81, 79, 2.612],
 [81, 80, 2.612],
 [82, 70, 7.7536],
 [82, 71, 7.7536],
 [82, 72, 7.7536],
 [82, 73, 7.7536],
 [82, 74, 7.7536],
 [82, 75, 7.7536],
 [82, 76, 7.7536],
 [82, 77, 11.7418],
 [82, 78, 11.7418],
 [82, 79, 3.3298],
 [82, 80, 3.3298],
 [82, 81, 3.4618],
 [83, 70, 7.7536],
 [83, 71, 7.7536],
 [83, 72, 7.7536],
 [83, 73, 7.7536],
 [83, 74, 7.7536],
 [83, 75, 7.7536],
 [83, 76, 7.7536],
 [83, 77, 11.7418],
 [83, 78, 11.7418],
 [83, 79, 3.3298],
 [83, 80, 3.3298],
 [83, 81, 3.4618],
 [83, 82, 2.1984],
 [84, 70, 8.87],
 [84, 71, 8.87],
 [84, 72, 8.87],
 [84, 73, 8.87],
 [84, 74, 8.87],
 [84, 75, 8.87],
 [84, 76, 8.87],
 [84, 77, 12.7086],
 [84, 78, 12.7086],
 [84, 79, 3.4657],
 [84, 80, 3.4657],
 [84, 81, 3.6532],
 [84, 82, 5.7582],
 [84, 83, 5.7582],
 [85, 70, 8.87],
 [85, 71, 8.87],
 [85, 72, 8.87],
 [85, 73, 8.87],
 [85, 74, 8.87],
 [85, 75, 8.87],
 [85, 76, 8.87],
 [85, 77, 12.7086],
 [85, 78, 12.7086],
 [85, 79, 3.4657],
 [85, 80, 3.4657],
 [85, 81, 3.6532],
 [85, 82, 5.7582],
 [85, 83, 5.7582],
 [85, 84, 3.1021],
 [86, 70, 9.1251],
 [86, 71, 9.1251],
 [86, 72, 9.1251],
 [86, 73, 9.1251],
 [86, 74, 9.1251],
 [86, 75, 9.1251],
 [86, 76, 9.1251],
 [86, 77, 12.8072],
 [86, 78, 12.8072],
 [86, 79, 3.3862],
 [86, 80, 3.3862],
 [86, 81, 3.5548],
 [86, 82, 8.521],
 [86, 83, 8.521],
 [86, 84, 5.865],
 [86, 85, 5.865],
 [87, 70, 9.4358],
 [87, 71, 9.4358],
 [87, 72, 9.4358],
 [87, 73, 9.4358],
 [87, 74, 9.4358],
 [87, 75, 9.4358],
 [87, 76, 9.4358],
 [87, 77, 13.0859],
 [87, 78, 13.0859],
 [87, 79, 3.3355],
 [87, 80, 3.3355],
 [87, 81, 3.5048],
 [87, 82, 11.1107],
 [87, 83, 11.1107],
 [87, 84, 8.4546],
 [87, 85, 8.4546],
 [87, 86, 6.0252],
 [88, 70, 8.1869],
 [88, 71, 8.1869],
 [88, 72, 8.1869],
 [88, 73, 8.1869],
 [88, 74, 8.1869],
 [88, 75, 8.1869],
 [88, 76, 8.1869],
 [88, 77, 12.0529],
 [88, 78, 12.0529],
 [88, 79, 2.527],
 [88, 80, 2.527],
 [88, 81, 3.0957],
 [88, 82, 14.1741],
 [88, 83, 14.1741],
 [88, 84, 11.0869],
 [88, 85, 11.0869],
 [88, 86, 8.6574],
 [88, 87, 6.4055],
 [89, 70, 8.6495],
 [89, 71, 8.6495],
 [89, 72, 8.6495],
 [89, 73, 8.6495],
 [89, 74, 8.6495],
 [89, 75, 8.6495],
 [89, 76, 8.6495],
 [89, 77, 12.4841],
 [89, 78, 12.4841],
 [89, 79, 2.6486],
 [89, 80, 2.6486],
 [89, 81, 3.2167],
 [89, 82, 16.9626],
 [89, 83, 16.9626],
 [89, 84, 13.8754],
 [89, 85, 13.8754],
 [89, 86, 11.446],
 [89, 87, 9.1941],
 [89, 88, 5.9204],
 [90, 70, 8.6495],
 [90, 71, 8.6495],
 [90, 72, 8.6495],
 [90, 73, 8.6495],
 [90, 74, 8.6495],
 [90, 75, 8.6495],
 [90, 76, 8.6495],
 [90, 77, 12.4841],
 [90, 78, 12.4841],
 [90, 79, 2.6486],
 [90, 80, 2.6486],
 [90, 81, 3.2167],
 [90, 82, 16.9626],
 [90, 83, 16.9626],
 [90, 84, 13.8754],
 [90, 85, 13.8754],
 [90, 86, 11.446],
 [90, 87, 9.1941],
 [90, 88, 5.9204],
 [90, 89, 3.6208],
 [91, 70, 8.6495],
 [91, 71, 8.6495],
 [91, 72, 8.6495],
 [91, 73, 8.6495],
 [91, 74, 8.6495],
 [91, 75, 8.6495],
 [91, 76, 8.6495],
 [91, 77, 12.4841],
 [91, 78, 12.4841],
 [91, 79, 2.6486],
 [91, 80, 2.6486],
 [91, 81, 3.2167],
 [91, 82, 16.9626],
 [91, 83, 16.9626],
 [91, 84, 13.8754],
 [91, 85, 13.8754],
 [91, 86, 11.446],
 [91, 87, 9.1941],
 [91, 88, 5.9204],
 [91, 89, 3.6208],
 [91, 90, 3.6208],
 [92, 70, 8.6495],
 [92, 71, 8.6495],
 [92, 72, 8.6495],
 [92, 73, 8.6495],
 [92, 74, 8.6495],
 [92, 75, 8.6495],
 [92, 76, 8.6495],
 [92, 77, 12.4841],
 [92, 78, 12.4841],
 [92, 79, 2.6486],
 [92, 80, 2.6486],
 [92, 81, 3.2167],
 [92, 82, 16.9626],
 [92, 83, 16.9626],
 [92, 84, 13.8754],
 [92, 85, 13.8754],
 [92, 86, 11.446],
 [92, 87, 9.1941],
 [92, 88, 5.9204],
 [92, 89, 3.6208],
 [92, 90, 3.6208],
 [92, 91, 3.6208],
 [93, 70, 8.6495],
 [93, 71, 8.6495],
 [93, 72, 8.6495],
 [93, 73, 8.6495],
 [93, 74, 8.6495],
 [93, 75, 8.6495],
 [93, 76, 8.6495],
 [93, 77, 12.4841],
 [93, 78, 12.4841],
 [93, 79, 2.6486],
 [93, 80, 2.6486],
 [93, 81, 3.2167],
 [93, 82, 16.9626],
 [93, 83, 16.9626],
 [93, 84, 13.8754],
 [93, 85, 13.8754],
 [93, 86, 11.446],
 [93, 87, 9.1941],
 [93, 88, 5.9204],
 [93, 89, 3.6208],
 [93, 90, 3.6208],
 [93, 91, 3.6208],
 [93, 92, 3.6208],
 [94, 70, 11.2888],
 [94, 71, 11.2888],
 [94, 72, 11.2888],
 [94, 73, 11.2888],
 [94, 74, 11.2888],
 [94, 75, 11.2888],
 [94, 76, 11.2888],
 [94, 77, 15.0886],
 [94, 78, 15.0886],
 [94, 79, 4.9548],
 [94, 80, 4.9548],
 [94, 81, 5.299],
 [94, 82, 20.2699],
 [94, 83, 20.2699],
 [94, 84, 15.6429],
 [94, 85, 15.6429],
 [94, 86, 13.2134],
 [94, 87, 10.9616],
 [94, 88, 9.5357],
 [94, 89, 7.2361],
 [94, 90, 7.2361],
 [94, 91, 7.2361],
 [94, 92, 7.2361],
 [94, 93, 7.2361]]

In [17]:
factor1 = []
factor2 = []
result = []
for row in x:
    factor1.append(row[0])
    factor2.append(row[1])
    result.append(row[2])
df = pd.DataFrame({
    'min_to_be_Strong': factor1,
    'min_to_be_Average': factor2,
    'war': result
    })
df.to_excel('MC2015.xlsx')

In [21]:
df2=df

In [24]:
df2 = df2.pivot(index='min_to_be_Average', columns='min_to_be_Strong', values='war')

In [25]:
df2.to_excel('MC2015_2.xlsx')

In [26]:
df2

min_to_be_Strong,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94
min_to_be_Average,,,,,,,,,,,,,,,
70,7.1555,8.2111,7.7536,7.7536,8.8700,8.8700,9.1251,9.4358,8.1869,8.6495,8.6495,8.6495,8.6495,8.6495,11.2888
71,7.1555,8.2111,7.7536,7.7536,8.8700,8.8700,9.1251,9.4358,8.1869,8.6495,8.6495,8.6495,8.6495,8.6495,11.2888
72,7.1555,8.2111,7.7536,7.7536,8.8700,8.8700,9.1251,9.4358,8.1869,8.6495,8.6495,8.6495,8.6495,8.6495,11.2888
73,7.1555,8.2111,7.7536,7.7536,8.8700,8.8700,9.1251,9.4358,8.1869,8.6495,8.6495,8.6495,8.6495,8.6495,11.2888
74,7.1555,8.2111,7.7536,7.7536,8.8700,8.8700,9.1251,9.4358,8.1869,8.6495,8.6495,8.6495,8.6495,8.6495,11.2888
75,7.1555,8.2111,7.7536,7.7536,8.8700,8.8700,9.1251,9.4358,8.1869,8.6495,8.6495,8.6495,8.6495,8.6495,11.2888
76,7.1555,8.2111,7.7536,7.7536,8.8700,8.8700,9.1251,9.4358,8.1869,8.6495,8.6495,8.6495,8.6495,8.6495,11.2888
77,7.0675,7.9795,11.7418,11.7418,12.7086,12.7086,12.8072,13.0859,12.0529,12.4841,12.4841,12.4841,12.4841,12.4841,15.0886
78,7.0675,7.9795,11.7418,11.7418,12.7086,12.7086,12.8072,13.0859,12.0529,12.4841,12.4841,12.4841,12.4841,12.4841,15.0886
79,2.4391,2.6120,3.3298,3.3298,3.4657,3.4657,3.3862,3.3355,2.5270,2.6486,2.6486,2.6486,2.6486,2.6486,4.9548
80,NaN,2.6120,3.3298,3.3298,3.4657,3.4657,3.3862,3.3355,2.5270,2.6486,2.6486,2.6486,2.6486,2.6486,4.9548
81,NaN,NaN,3.4618,3.4618,3.6532,3.6532,3.5548,3.5048,3.0957,3.2167,3.2167,3.2167,3.2167,3.2167,5.2990
82,NaN,NaN,NaN,2.1984,5.7582,5.7582,8.5210,11.1107,14.1741,16.9626,16.9626,16.9626,16.9626,16.9626,20.2699
83,NaN,NaN,NaN,NaN,5.7582,5.7582,8.5210,11.1107,14.1741,16.9626,16.9626,16.9626,16.9626,16.9626,20.2699
84,NaN,NaN,NaN,NaN,NaN,3.1021,5.8650,8.4546,11.0869,13.8754,13.8754,13.8754,13.8754,13.8754,15.6429
85,NaN,NaN,NaN,NaN,NaN,NaN,5.8650,8.4546,11.0869,13.8754,13.8754,13.8754,13.8754,13.8754,15.6429
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0252,8.6574,11.4460,11.4460,11.4460,11.4460,11.4460,13.2134
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.4055,9.1941,9.1941,9.1941,9.1941,9.1941,10.9616
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.9204,5.9204,5.9204,5.9204,5.9204,9.5357
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.6208,3.6208,3.6208,3.6208,7.2361
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.6208,3.6208,3.6208,7.2361
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.6208,3.6208,7.2361
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.6208,7.2361
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2361