In [1]:
import pandas as pd
import numpy as np

In [2]:
target = pd.read_csv("MC2015.csv")
league = pd.read_csv("MLB2015.csv")
injury_date = (7.04,)
recovered_date = (8.12,)
strong_start = (6.17,)
strong_end = (7.30,)
min_to_be_Strong = 162
min_to_be_Average = 162

In [3]:
target = target[['Date', 'Tm', 'Opp', 'W/L']]
league = league[['Tm', 'W']]
league =league.rename(columns={'Tm' : 'Opp'})

In [4]:
league.drop(league.tail(1).index,inplace=True) # drop last 1 rows

In [5]:
target[target['Opp'] == 'MIN']

                 Date   Tm  Opp   W/L
0        Monday Apr 6  DET  MIN     W
1     Wednesday Apr 8  DET  MIN     W
2      Thursday Apr 9  DET  MIN     W
19      Monday Apr 27  DET  MIN     W
20     Tuesday Apr 28  DET  MIN     L
21   Wednesday Apr 29  DET  MIN     W
32     Tuesday May 12  DET  MIN  W-wo
33   Wednesday May 13  DET  MIN     L
34    Thursday May 14  DET  MIN     W
84     Thursday Jul 9  DET  MIN     W
85      Friday Jul 10  DET  MIN  L-wo
86    Saturday Jul 11  DET  MIN     L
87      Sunday Jul 12  DET  MIN     L
142     Monday Sep 14  DET  MIN     L
143    Tuesday Sep 15  DET  MIN     W
144  Wednesday Sep 16  DET  MIN     W
152     Friday Sep 25  DET  MIN     W
153   Saturday Sep 26  DET  MIN     L
154     Sunday Sep 27  DET  MIN     L

In [6]:
new_win = []
new_total = []
pro = []
for i in league.index:
    new_win.append(league['W'][i] - len(target[ (target['Opp' ]== league['Opp'][i]) & (target['W/L'].str.contains("L")) ]))
    #new_total.append( 162-len(target[ (target['Opp']== league['Opp'][i])] )
    pro.append(  round( 162 *     (league['W'][i] - len(target[ (target['Opp' ]== league['Opp'][i]) & (target['W/L'].str.contains("L")) ]) )      /      (162-len(target[ (target['Opp' ]== league['Opp'][i])]) ) ) )
league['Isolated_W'] = new_win 
#league['Isolated_All'] = new_total
league['probability'] = pro

In [7]:
league = league.sort_values(by = ['probability'])
league = league.reset_index(drop=True)
league

    Opp    W  Isolated_W  probability
0   CIN   64          61         63.0
1   PHI   63          63         63.0
2   OAK   68          64         66.0
3   ATL   67          67         67.0
4   MIL   68          66         67.0
5   COL   68          68         68.0
6   MIA   71          71         71.0
7   SDP   74          74         74.0
8   DET   74          74         74.0
9   SEA   76          73         76.0
10  CHW   76          67         76.0
11  BOS   78          74         77.0
12  ARI   79          79         79.0
13  TBR   80          77         80.0
14  BAL   81          77         80.0
15  WSN   83          83         83.0
16  CLE   81          74         83.0
17  LAA   85          79         83.0
18  SFG   84          84         84.0
19  MIN   83          75         85.0
20  NYY   87          82         86.0
21  HOU   86          82         86.0
22  TEX   88          83         87.0
23  NYM   90          90         90.0
24  LAD   92          92         92.0
25  TOR   93          89         92.0
26  KCR   95          85         96.0
27  CHC   97          96         98.0
28  PIT   98          94         98.0
29  STL  100          99        101.0

In [8]:
print(league['probability'][9])
print(league['probability'][20])

76.0
86.0

In [9]:
#helper function to modify the date data for later analysis
def modi_date(date):
    date_dict = {
        'Mar': '3',
        'Apr': '4',
        'May': '5',
        'Jun': '6',
        'Jul': '7',
        'Aug': '8',
        'Sep': '9',
        'Oct': '10'
    }
    date_split = date.split(" ")[1:]
    d = date_dict[date_split[0]]
    return float('{}.{:0>2}'.format(date_dict[date_split[0]], date_split[1]))

In [10]:
df = pd.merge(target, league, on = 'Opp')
df['Date'] = df['Date'].apply(modi_date)
df = df.sort_values(by = ['Date'])
df = df.reset_index(drop=True)

In [11]:
def get_winning_games_number(team_name: str):
    return league[league['Opp'] == team_name]['probability'].values[0]

In [12]:
#helper function to get the classify an opponent's status: weak, average, or strong
def get_oppo_status(team_name: str):
    w_n = get_winning_games_number(team_name)
    if w_n >= min_to_be_Strong:
        return "Strong"
    elif min_to_be_Average <= w_n < min_to_be_Strong:
        return 'Average'
    else:
        return "Weak"

In [13]:
def get_avaliablity(date):
    for inj, rec in zip(injury_date, recovered_date):
        if inj <= date <= rec:
            return False
    return True

In [14]:
def is_Strong(date):
    for start, end in zip(strong_start, strong_end):
        if start <= date < end:
            return True
    return False

In [15]:
frame = pd.DataFrame({
                      'Date': df['Date'], 
                      "Aval": df['Date'].apply(get_avaliablity), 
                      "Strong": df['Date'].apply(is_Strong),
                      "Opp-Status": df['Opp'].apply(get_oppo_status),
                      'Opp': df['Opp'],
                      'W/L': df['W/L'], 
                      'Opp-W': df['Isolated_W']
                      })
frame.to_excel('MC2015.xlsx')

In [16]:
#helper funtion to calculate the number of the games in which the target team and its
#opponent are classifies as a particular status.
def count_category(data, strong=False, opp_status=None):
    strong_series = data['Strong'] if strong else data['Strong'] == False
    c1 = len(data[strong_series & (frame['Opp-Status'].str.match(opp_status))])
    a1 = len(data)
    #print('numerator :    ', c1)
    #print('denumerator : ', a1)
    #print('output: ', c1/a1)
    return c1/a1

In [17]:
def count_win(data, aval=False, strong=False, opp_status=None):
    aval_series = data['Aval'] if aval else data['Aval'] == False
    strong_series = data['Strong'] if strong else data['Strong'] == False
    win = len(data[(data['W/L'].str.contains("W")) & aval_series & strong_series & (frame['Opp-Status'].str.match(opp_status))])
    number_of_all_games =  len(data[aval_series & strong_series & (frame['Opp-Status'].str.match(opp_status))])
    #print('numerator :    ', win)
    #print('denumerator : ', number_of_all_games)
    if number_of_all_games == 0:
        #print('output: ', 0)
        return 0
    else: 
        #print('output: ', win/number_of_all_games)
        return win/number_of_all_games

In [18]:
def get_WAR(data = frame):
    
    #print('P_Aval_Weak_weakOpp :')
    aval_weak_weak = count_win(data, aval = True, strong = False, opp_status="Weak") 
    #print('P_Unaval_Weak_weakOpp :')
    unaval_weal_weak = count_win(data, aval = False, strong = False, opp_status="Weak")
    #print('P X = Weak_weakOpp :')
    weak_weak = count_category(data, strong = False, opp_status="Weak")
    
    #print('P_Aval_Weak_averageOpp :')
    aval_weak_average = count_win(data, aval = True, strong = False, opp_status="Average")
    #print('P_Unaval_Weak_averageOpp :')
    unaval_weak_average = count_win(data, aval = False, strong = False, opp_status="Average")
    #print('P X = Weak_averageOpp :')
    weak_average = count_category(data, strong = False, opp_status="Average")
    
    #print('P_Aval_Weak_strongOpp :')
    aval_weak_strong = count_win(data, aval = True, strong = False, opp_status="Strong")
    #print('P_Unaval_Weak_strongOpp :')
    unaval_weak_strong = count_win(data, aval = False, strong = False, opp_status="Strong")
    #print('P X = Weak_strongOpp :')
    weak_strong = count_category(data, strong = False, opp_status="Strong")
    
    #print('P_Aval_Strong_weakOpp :')
    aval_strong_weak = count_win(data, aval = True, strong = True, opp_status="Weak") 
    #print('P_Unaval_Strong_weakOpp :')
    unaval_strong_weak = count_win(data, aval = False, strong = True, opp_status="Weak")
    #print('P X = Strong_weakOpp :')
    strong_weak = count_category(data, strong = True, opp_status="Weak")
    
    #print('P_Aval_Strong_averageOpp :')
    aval_strong_average = count_win(data, aval = True, strong = True, opp_status="Average")
    #print('P_Unaval_Strong_averageOpp :')
    unaval_strong_average = count_win(data, aval = False, strong = True, opp_status="Average")
    #print('P X = Strong_averageOpp :')
    strong_average = count_category(data, strong = True, opp_status="Average")
    
    #print('P_Aval_Strong_strongOpp :')
    aval_strong_strong = count_win(data, aval = True, strong = True, opp_status="Strong")
    #print('P_Unaval_Strong_strongOpp :')
    unaval_strong_strong = count_win(data, aval = False, strong = True, opp_status="Strong")
    #print('P X = Strong_strongOpp :')
    strong_strong = count_category(data, strong = True, opp_status="Strong")
    
    war = ((aval_weak_weak - unaval_weal_weak)* weak_weak
           + (aval_weak_average - unaval_weak_average)* weak_average
           + (aval_weak_strong - unaval_weak_strong)* weak_strong 
           + (aval_strong_weak - unaval_strong_weak)* strong_weak
           + (aval_strong_average - unaval_strong_average)* strong_average 
           + (aval_strong_strong - unaval_strong_strong)* strong_strong) * 119
    return war

In [19]:
def WAR_change_oppSAW():
    output = []
    new_df = frame
    for i in range(80,95):
        for j in range(70, i):
            
            #helper function to change the data
            def new_opp_status(team_name: str):
                w_n = get_winning_games_number(team_name)
                if w_n >= i:
                    return "Strong"
                elif j <= w_n < i:
                    return 'Average'
                else:
                    return "Weak"
                
            new_df['Opp-Status'] = new_df['Opp'].apply(new_opp_status)
            twar = round(get_WAR(new_df), 4)
            temp = [i, j, twar]
            output.append(temp)
    return output

In [20]:
x = WAR_change_oppSAW()

In [21]:
x

[[80, 70, 7.1555],
 [80, 71, 7.1555],
 [80, 72, 7.1555],
 [80, 73, 7.1555],
 [80, 74, 7.1555],
 [80, 75, 7.1555],
 [80, 76, 7.1555],
 [80, 77, 7.0675],
 [80, 78, 2.4391],
 [80, 79, 2.4391],
 [81, 70, 7.6508],
 [81, 71, 7.6508],
 [81, 72, 7.6508],
 [81, 73, 7.6508],
 [81, 74, 7.6508],
 [81, 75, 7.6508],
 [81, 76, 7.6508],
 [81, 77, 7.4288],
 [81, 78, 1.1638],
 [81, 79, 1.1638],
 [81, 80, 1.1638],
 [82, 70, 7.6508],
 [82, 71, 7.6508],
 [82, 72, 7.6508],
 [82, 73, 7.6508],
 [82, 74, 7.6508],
 [82, 75, 7.6508],
 [82, 76, 7.6508],
 [82, 77, 7.4288],
 [82, 78, 1.1638],
 [82, 79, 1.1638],
 [82, 80, 1.1638],
 [82, 81, 1.1687],
 [83, 70, 7.6508],
 [83, 71, 7.6508],
 [83, 72, 7.6508],
 [83, 73, 7.6508],
 [83, 74, 7.6508],
 [83, 75, 7.6508],
 [83, 76, 7.6508],
 [83, 77, 7.4288],
 [83, 78, 1.1638],
 [83, 79, 1.1638],
 [83, 80, 1.1638],
 [83, 81, 1.1687],
 [83, 82, 1.1687],
 [84, 70, 7.9198],
 [84, 71, 7.9198],
 [84, 72, 7.9198],
 [84, 73, 7.9198],
 [84, 74, 7.9198],
 [84, 75, 7.9198],
 [84, 76, 7.9198],
 [84, 77, 11.597],
 [84, 78, 3.1062],
 [84, 79, 3.1062],
 [84, 80, 3.1062],
 [84, 81, 9.5759],
 [84, 82, 9.5759],
 [84, 83, 9.5759],
 [85, 70, 7.9198],
 [85, 71, 7.9198],
 [85, 72, 7.9198],
 [85, 73, 7.9198],
 [85, 74, 7.9198],
 [85, 75, 7.9198],
 [85, 76, 7.9198],
 [85, 77, 11.597],
 [85, 78, 3.1062],
 [85, 79, 3.1062],
 [85, 80, 3.1062],
 [85, 81, 9.5759],
 [85, 82, 9.5759],
 [85, 83, 9.5759],
 [85, 84, 2.4879],
 [86, 70, 9.1251],
 [86, 71, 9.1251],
 [86, 72, 9.1251],
 [86, 73, 9.1251],
 [86, 74, 9.1251],
 [86, 75, 9.1251],
 [86, 76, 9.1251],
 [86, 77, 12.8072],
 [86, 78, 3.3862],
 [86, 79, 3.3862],
 [86, 80, 3.3862],
 [86, 81, 14.5643],
 [86, 82, 14.5643],
 [86, 83, 14.5643],
 [86, 84, 6.0596],
 [86, 85, 6.0596],
 [87, 70, 8.1869],
 [87, 71, 8.1869],
 [87, 72, 8.1869],
 [87, 73, 8.1869],
 [87, 74, 8.1869],
 [87, 75, 8.1869],
 [87, 76, 8.1869],
 [87, 77, 12.0529],
 [87, 78, 2.527],
 [87, 79, 2.527],
 [87, 80, 2.527],
 [87, 81, 18.7391],
 [87, 82, 18.7391],
 [87, 83, 18.7391],
 [87, 84, 11.7126],
 [87, 85, 11.7126],
 [87, 86, 8.6574],
 [88, 70, 8.6495],
 [88, 71, 8.6495],
 [88, 72, 8.6495],
 [88, 73, 8.6495],
 [88, 74, 8.6495],
 [88, 75, 8.6495],
 [88, 76, 8.6495],
 [88, 77, 12.4841],
 [88, 78, 2.6486],
 [88, 79, 2.6486],
 [88, 80, 2.6486],
 [88, 81, 21.5276],
 [88, 82, 21.5276],
 [88, 83, 21.5276],
 [88, 84, 14.5012],
 [88, 85, 14.5012],
 [88, 86, 11.446],
 [88, 87, 5.9204],
 [89, 70, 8.6495],
 [89, 71, 8.6495],
 [89, 72, 8.6495],
 [89, 73, 8.6495],
 [89, 74, 8.6495],
 [89, 75, 8.6495],
 [89, 76, 8.6495],
 [89, 77, 12.4841],
 [89, 78, 2.6486],
 [89, 79, 2.6486],
 [89, 80, 2.6486],
 [89, 81, 21.5276],
 [89, 82, 21.5276],
 [89, 83, 21.5276],
 [89, 84, 14.5012],
 [89, 85, 14.5012],
 [89, 86, 11.446],
 [89, 87, 5.9204],
 [89, 88, 3.6208],
 [90, 70, 8.6495],
 [90, 71, 8.6495],
 [90, 72, 8.6495],
 [90, 73, 8.6495],
 [90, 74, 8.6495],
 [90, 75, 8.6495],
 [90, 76, 8.6495],
 [90, 77, 12.4841],
 [90, 78, 2.6486],
 [90, 79, 2.6486],
 [90, 80, 2.6486],
 [90, 81, 21.5276],
 [90, 82, 21.5276],
 [90, 83, 21.5276],
 [90, 84, 14.5012],
 [90, 85, 14.5012],
 [90, 86, 11.446],
 [90, 87, 5.9204],
 [90, 88, 3.6208],
 [90, 89, 3.6208],
 [91, 70, 8.6495],
 [91, 71, 8.6495],
 [91, 72, 8.6495],
 [91, 73, 8.6495],
 [91, 74, 8.6495],
 [91, 75, 8.6495],
 [91, 76, 8.6495],
 [91, 77, 12.4841],
 [91, 78, 2.6486],
 [91, 79, 2.6486],
 [91, 80, 2.6486],
 [91, 81, 21.5276],
 [91, 82, 21.5276],
 [91, 83, 21.5276],
 [91, 84, 14.5012],
 [91, 85, 14.5012],
 [91, 86, 11.446],
 [91, 87, 5.9204],
 [91, 88, 3.6208],
 [91, 89, 3.6208],
 [91, 90, 3.6208],
 [92, 70, 8.6495],
 [92, 71, 8.6495],
 [92, 72, 8.6495],
 [92, 73, 8.6495],
 [92, 74, 8.6495],
 [92, 75, 8.6495],
 [92, 76, 8.6495],
 [92, 77, 12.4841],
 [92, 78, 2.6486],
 [92, 79, 2.6486],
 [92, 80, 2.6486],
 [92, 81, 21.5276],
 [92, 82, 21.5276],
 [92, 83, 21.5276],
 [92, 84, 14.5012],
 [92, 85, 14.5012],
 [92, 86, 11.446],
 [92, 87, 5.9204],
 [92, 88, 3.6208],
 [92, 89, 3.6208],
 [92, 90, 3.6208],
 [92, 91, 3.6208],
 [93, 70, 11.2888],
 [93, 71, 11.2888],
 [93, 72, 11.2888],
 [93, 73, 11.2888],
 [93, 74, 11.2888],
 [93, 75, 11.2888],
 [93, 76, 11.2888],
 [93, 77, 15.0886],
 [93, 78, 4.9548],
 [93, 79, 4.9548],
 [93, 80, 4.9548],
 [93, 81, 24.4742],
 [93, 82, 24.4742],
 [93, 83, 24.4742],
 [93, 84, 17.8085],
 [93, 85, 17.8085],
 [93, 86, 13.2134],
 [93, 87, 9.5357],
 [93, 88, 7.2361],
 [93, 89, 7.2361],
 [93, 90, 7.2361],
 [93, 91, 7.2361],
 [93, 92, 7.2361],
 [94, 70, 11.2888],
 [94, 71, 11.2888],
 [94, 72, 11.2888],
 [94, 73, 11.2888],
 [94, 74, 11.2888],
 [94, 75, 11.2888],
 [94, 76, 11.2888],
 [94, 77, 15.0886],
 [94, 78, 4.9548],
 [94, 79, 4.9548],
 [94, 80, 4.9548],
 [94, 81, 24.4742],
 [94, 82, 24.4742],
 [94, 83, 24.4742],
 [94, 84, 17.8085],
 [94, 85, 17.8085],
 [94, 86, 13.2134],
 [94, 87, 9.5357],
 [94, 88, 7.2361],
 [94, 89, 7.2361],
 [94, 90, 7.2361],
 [94, 91, 7.2361],
 [94, 92, 7.2361],
 [94, 93, 6.2046]]

In [22]:
factor1 = []
factor2 = []
result = []
for row in x:
    factor1.append(row[0])
    factor2.append(row[1])
    result.append(row[2])
df2 = pd.DataFrame({
    'min_to_be_Strong': factor1,
    'min_to_be_Average': factor2,
    'war': result
    })
df2 = df2.pivot(index='min_to_be_Average', columns='min_to_be_Strong', values='war')

In [23]:
df2.to_excel('MC2015_Isolate_target_win.xlsx')

In [24]:
df2

min_to_be_Strong,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94
min_to_be_Average,,,,,,,,,,,,,,,
70,7.1555,7.6508,7.6508,7.6508,7.9198,7.9198,9.1251,8.1869,8.6495,8.6495,8.6495,8.6495,8.6495,11.2888,11.2888
71,7.1555,7.6508,7.6508,7.6508,7.9198,7.9198,9.1251,8.1869,8.6495,8.6495,8.6495,8.6495,8.6495,11.2888,11.2888
72,7.1555,7.6508,7.6508,7.6508,7.9198,7.9198,9.1251,8.1869,8.6495,8.6495,8.6495,8.6495,8.6495,11.2888,11.2888
73,7.1555,7.6508,7.6508,7.6508,7.9198,7.9198,9.1251,8.1869,8.6495,8.6495,8.6495,8.6495,8.6495,11.2888,11.2888
74,7.1555,7.6508,7.6508,7.6508,7.9198,7.9198,9.1251,8.1869,8.6495,8.6495,8.6495,8.6495,8.6495,11.2888,11.2888
75,7.1555,7.6508,7.6508,7.6508,7.9198,7.9198,9.1251,8.1869,8.6495,8.6495,8.6495,8.6495,8.6495,11.2888,11.2888
76,7.1555,7.6508,7.6508,7.6508,7.9198,7.9198,9.1251,8.1869,8.6495,8.6495,8.6495,8.6495,8.6495,11.2888,11.2888
77,7.0675,7.4288,7.4288,7.4288,11.5970,11.5970,12.8072,12.0529,12.4841,12.4841,12.4841,12.4841,12.4841,15.0886,15.0886
78,2.4391,1.1638,1.1638,1.1638,3.1062,3.1062,3.3862,2.5270,2.6486,2.6486,2.6486,2.6486,2.6486,4.9548,4.9548
79,2.4391,1.1638,1.1638,1.1638,3.1062,3.1062,3.3862,2.5270,2.6486,2.6486,2.6486,2.6486,2.6486,4.9548,4.9548
80,NaN,1.1638,1.1638,1.1638,3.1062,3.1062,3.3862,2.5270,2.6486,2.6486,2.6486,2.6486,2.6486,4.9548,4.9548
81,NaN,NaN,1.1687,1.1687,9.5759,9.5759,14.5643,18.7391,21.5276,21.5276,21.5276,21.5276,21.5276,24.4742,24.4742
82,NaN,NaN,NaN,1.1687,9.5759,9.5759,14.5643,18.7391,21.5276,21.5276,21.5276,21.5276,21.5276,24.4742,24.4742
83,NaN,NaN,NaN,NaN,9.5759,9.5759,14.5643,18.7391,21.5276,21.5276,21.5276,21.5276,21.5276,24.4742,24.4742
84,NaN,NaN,NaN,NaN,NaN,2.4879,6.0596,11.7126,14.5012,14.5012,14.5012,14.5012,14.5012,17.8085,17.8085
85,NaN,NaN,NaN,NaN,NaN,NaN,6.0596,11.7126,14.5012,14.5012,14.5012,14.5012,14.5012,17.8085,17.8085
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.6574,11.4460,11.4460,11.4460,11.4460,11.4460,13.2134,13.2134
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.9204,5.9204,5.9204,5.9204,5.9204,9.5357,9.5357
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.6208,3.6208,3.6208,3.6208,7.2361,7.2361
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.6208,3.6208,3.6208,7.2361,7.2361
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.6208,3.6208,7.2361,7.2361
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.6208,7.2361,7.2361
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2361,7.2361
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.2046