In [1]:
import pandas as pd
import numpy as np

In [2]:
target = pd.read_csv("YM2014.csv")
league = pd.read_csv("MLB2014.csv")
injury_date = (7.10,)
recovered_date = (8.27,)
strong_start = (0,)
strong_end = (0,)
min_to_be_Strong = 162
min_to_be_Average = 162

In [3]:
target = target[['Date', 'Tm', 'Opp', 'W/L']]
league = league[['Tm', 'W']]
league =league.rename(columns={'Tm' : 'Opp'})
league.drop(league.tail(1).index,inplace=True) # drop last 1 rows

In [4]:
new_win = []
for i in league.index:
    new_win.append(league['W'][i] - len(target[ (target['Opp' ]== league['Opp'][i]) & (target['W/L'].str.contains("L")) ]))
league['Isolated_W'] = new_win

In [5]:
league = league.sort_values(by = ['Isolated_W'])
league = league.reset_index(drop=True)

In [6]:
print(league['Isolated_W'][9])
print(league['Isolated_W'][20])

73
84

In [7]:
#helper function to modify the date data for later analysis
def modi_date(date):
    date_dict = {
        'Mar'
        'Apr': '4',
        'May': '5',
        'Jun': '6',
        'Jul': '7',
        'Aug': '8',
        'Sep': '9',
        'Oct': '10'
    }
    date_split = date.split(" ")[1:]
    d = date_dict[date_split[0]]
    return float('{}.{:0>2}'.format(date_dict[date_split[0]], date_split[1]))

In [8]:
df = pd.merge(target, league, on = 'Opp')
df['Date'] = df['Date'].apply(modi_date)
df = df.sort_values(by = ['Date'])
df = df.reset_index(drop=True)

KeyError: 'Mar'

In [ ]:
def get_winning_games_number(team_name: str):
    return league[league['Opp'] == team_name]['Isolated_W'].values[0]

In [ ]:
#helper function to get the classify an opponent's status: weak, average, or strong
def get_oppo_status(team_name: str):
    w_n = get_winning_games_number(team_name)
    if w_n >= min_to_be_Strong:
        return "Strong"
    elif min_to_be_Average <= w_n < min_to_be_Strong:
        return 'Average'
    else:
        return "Weak"

In [ ]:
def get_avaliablity(date):
    for inj, rec in zip(injury_date, recovered_date):
        if inj <= date <= rec:
            return False
    return True

In [ ]:
def is_Strong(date):
    for start, end in zip(strong_start, strong_end):
        if start <= date < end:
            return True
    return False

In [ ]:
frame = pd.DataFrame({
                      'Date': df['Date'], 
                      "Aval": df['Date'].apply(get_avaliablity), 
                      "Strong": df['Date'].apply(is_Strong),
                      "Opp-Status": df['Opp'].apply(get_oppo_status),
                      'Opp': df['Opp'],
                      'W/L': df['W/L'], 
                      'Opp-W': df['Isolated_W']
                      })
frame.to_excel('YM2014_Isolate_target_win.xlsx')

In [ ]:
#helper funtion to calculate the number of the games in which the target team and its
#opponent are classifies as a particular status.
def count_category(data, strong=False, opp_status=None):
    strong_series = data['Strong'] if strong else data['Strong'] == False
    c1 = len(data[strong_series & (frame['Opp-Status'].str.match(opp_status))])
    a1 = len(data)
    #print('numerator :    ', c1)
    #print('denumerator : ', a1)
    #print('output: ', c1/a1)
    return c1/a1

In [ ]:
def count_win(data, aval=False, strong=False, opp_status=None):
    aval_series = data['Aval'] if aval else data['Aval'] == False
    strong_series = data['Strong'] if strong else data['Strong'] == False
    win = len(data[(data['W/L'].str.contains("W")) & aval_series & strong_series & (frame['Opp-Status'].str.match(opp_status))])
    number_of_all_games =  len(data[aval_series & strong_series & (frame['Opp-Status'].str.match(opp_status))])
    #print('numerator :    ', win)
    #print('denumerator : ', number_of_all_games)
    if number_of_all_games == 0:
        #print('output: ', 0)
        return 0
    else: 
        #print('output: ', win/number_of_all_games)
        return win/number_of_all_games

In [9]:
def get_WAR(data = frame):
    
    #print('P_Aval_Weak_weakOpp :')
    aval_weak_weak = count_win(data, aval = True, strong = False, opp_status="Weak") 
    #print('P_Unaval_Weak_weakOpp :')
    unaval_weal_weak = count_win(data, aval = False, strong = False, opp_status="Weak")
    #print('P X = Weak_weakOpp :')
    weak_weak = count_category(data, strong = False, opp_status="Weak")
    
    #print('P_Aval_Weak_averageOpp :')
    aval_weak_average = count_win(data, aval = True, strong = False, opp_status="Average")
    #print('P_Unaval_Weak_averageOpp :')
    unaval_weak_average = count_win(data, aval = False, strong = False, opp_status="Average")
    #print('P X = Weak_averageOpp :')
    weak_average = count_category(data, strong = False, opp_status="Average")
    
    #print('P_Aval_Weak_strongOpp :')
    aval_weak_strong = count_win(data, aval = True, strong = False, opp_status="Strong")
    #print('P_Unaval_Weak_strongOpp :')
    unaval_weak_strong = count_win(data, aval = False, strong = False, opp_status="Strong")
    #print('P X = Weak_strongOpp :')
    weak_strong = count_category(data, strong = False, opp_status="Strong")
    
    #print('P_Aval_Strong_weakOpp :')
    aval_strong_weak = count_win(data, aval = True, strong = True, opp_status="Weak") 
    #print('P_Unaval_Strong_weakOpp :')
    unaval_strong_weak = count_win(data, aval = False, strong = True, opp_status="Weak")
    #print('P X = Strong_weakOpp :')
    strong_weak = count_category(data, strong = True, opp_status="Weak")
    
    #print('P_Aval_Strong_averageOpp :')
    aval_strong_average = count_win(data, aval = True, strong = True, opp_status="Average")
    #print('P_Unaval_Strong_averageOpp :')
    unaval_strong_average = count_win(data, aval = False, strong = True, opp_status="Average")
    #print('P X = Strong_averageOpp :')
    strong_average = count_category(data, strong = True, opp_status="Average")
    
    #print('P_Aval_Strong_strongOpp :')
    aval_strong_strong = count_win(data, aval = True, strong = True, opp_status="Strong")
    #print('P_Unaval_Strong_strongOpp :')
    unaval_strong_strong = count_win(data, aval = False, strong = True, opp_status="Strong")
    #print('P X = Strong_strongOpp :')
    strong_strong = count_category(data, strong = True, opp_status="Strong")
    
    war = ((aval_weak_weak - unaval_weal_weak)* weak_weak
           + (aval_weak_average - unaval_weak_average)* weak_average
           + (aval_weak_strong - unaval_weak_strong)* weak_strong 
           + (aval_strong_weak - unaval_strong_weak)* strong_weak
           + (aval_strong_average - unaval_strong_average)* strong_average 
           + (aval_strong_strong - unaval_strong_strong)* strong_strong) * 119
    return war

NameError: name 'frame' is not defined

In [21]:
def WAR_change_oppSAW():
    output = []
    new_df = frame
    for i in range(80,95):
        for j in range(70, i):
            
            #helper function to change the data
            def new_opp_status(team_name: str):
                w_n = get_winning_games_number(team_name)
                if w_n >= i:
                    return "Strong"
                elif j <= w_n < i:
                    return 'Average'
                else:
                    return "Weak"
                
            new_df['Opp-Status'] = new_df['Opp'].apply(new_opp_status)
            twar = round(get_WAR(new_df), 4)
            temp = [i, j, twar]
            output.append(temp)
    return output

In [22]:
x = WAR_change_oppSAW()

In [24]:
factor1 = []
factor2 = []
result = []
for row in x:
    factor1.append(row[0])
    factor2.append(row[1])
    result.append(row[2])
df2 = pd.DataFrame({
    'min_to_be_Strong': factor1,
    'min_to_be_Average': factor2,
    'war': result
    })
df2 = df2.pivot(index='min_to_be_Average', columns='min_to_be_Strong', values='war')

In [25]:
df2.to_excel('YM2014_Isolate_target_win.xlsx')

In [26]:
df2

min_to_be_Strong,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94
min_to_be_Average,,,,,,,,,,,,,,,
70,15.1543,15.1543,15.1543,13.3330,13.7642,13.7642,17.4110,17.4110,17.4110,17.4110,18.8677,18.8677,18.8677,18.8677,18.8677
71,15.1543,15.1543,15.1543,13.3330,13.7642,13.7642,17.4110,17.4110,17.4110,17.4110,18.8677,18.8677,18.8677,18.8677,18.8677
72,15.1543,15.1543,15.1543,13.3330,13.7642,13.7642,17.4110,17.4110,17.4110,17.4110,18.8677,18.8677,18.8677,18.8677,18.8677
73,15.1543,15.1543,15.1543,13.3330,13.7642,13.7642,17.4110,17.4110,17.4110,17.4110,18.8677,18.8677,18.8677,18.8677,18.8677
74,12.8072,12.8072,12.8072,12.0529,12.4841,12.4841,16.1310,16.1310,16.1310,16.1310,17.2007,17.2007,17.2007,17.2007,17.2007
75,0.4349,0.4349,0.4349,3.2489,3.3607,3.3607,7.9410,7.9410,7.9410,7.9410,9.4239,9.4239,9.4239,9.4239,9.4239
76,3.7936,3.7936,3.7936,5.7879,5.9543,5.9543,10.2951,10.2951,10.2951,10.2951,11.2194,11.2194,11.2194,11.2194,11.2194
77,3.7936,3.7936,3.7936,5.7879,5.9543,5.9543,10.2951,10.2951,10.2951,10.2951,11.2194,11.2194,11.2194,11.2194,11.2194
78,5.8650,5.8650,5.8650,11.0869,13.8754,13.8754,8.7404,8.7404,8.7404,8.7404,7.8902,7.8902,7.8902,7.8902,7.8902
79,5.8650,5.8650,5.8650,11.0869,13.8754,13.8754,8.7404,8.7404,8.7404,8.7404,7.8902,7.8902,7.8902,7.8902,7.8902
80,NaN,3.4355,3.4355,8.6574,11.4460,11.4460,9.0974,9.0974,9.0974,9.0974,8.2068,8.2068,8.2068,8.2068,8.2068
81,NaN,NaN,3.4355,8.6574,11.4460,11.4460,9.0974,9.0974,9.0974,9.0974,8.2068,8.2068,8.2068,8.2068,8.2068
82,NaN,NaN,NaN,8.6574,11.4460,11.4460,9.0974,9.0974,9.0974,9.0974,8.2068,8.2068,8.2068,8.2068,8.2068
83,NaN,NaN,NaN,NaN,5.9204,5.9204,7.6943,7.6943,7.6943,7.6943,8.5716,8.5716,8.5716,8.5716,8.5716
84,NaN,NaN,NaN,NaN,NaN,3.6208,8.2545,8.2545,8.2545,8.2545,8.9795,8.9795,8.9795,8.9795,8.9795
85,NaN,NaN,NaN,NaN,NaN,NaN,8.2545,8.2545,8.2545,8.2545,8.9795,8.9795,8.9795,8.9795,8.9795
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.5399,6.5399,6.5399,8.7573,8.7573,8.7573,8.7573,8.7573
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.5399,6.5399,8.7573,8.7573,8.7573,8.7573,8.7573
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.5399,8.7573,8.7573,8.7573,8.7573,8.7573
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.7573,8.7573,8.7573,8.7573,8.7573
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.6026,7.6026,7.6026,7.6026
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.6026,7.6026,7.6026
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.6026,7.6026
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.6026